<my-head></my-head>
<h1>This is the default page</h1>
<button (click)="setData('student')">Students </button>
<button (click)="setData('worker')">Workers </button>
<button (click)="getDataA()">Rest </button>
<button (click)="upAge()">Up Age</button>
<button (click)="setlist('add')">add List</button>
<button (click)="setlist('clear')">clear List</button>
<button (click)="changeSpan()">changeSpan</button>

<ul>
	<li *ngFor="#user of users"><div *ngIf="user.age>13" class="markerForUser" style="width: {{user.age}}px"></div>{{user.name}} | {{user.age}}</li>
</ul>
<div *ngIf="showSpan">
	<span *ngFor="#itm of itemsOption" >{{itm.title}}</span>
</div>
<p>Dynamic List</p>
<select>
	<option *ngFor="#itm of itemsOption" >{{itm.title}}</option>
</select>
<div *ngIf="showSpan">
	<div *ngFor="#itm of itemsOption" >{{itm.title}}</div>
</div>